[submodule "project/PAMI_source_code"]
	path = project/PAMI_source_code
	url = https://github.com/Unimakers/CDR-2024-PAMI-FIRMWARE.git
[submodule "project/PAMI_electronique"]
	path = project/PAMI_electronique
	url = https://github.com/Unimakers/CDR-2024-PAMI-ELEC.git
